@tailwind base;
@tailwind components;
@tailwind utilities;


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 0;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::-webkit-file-upload-button:focus {
  margin-left: 1px;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  background: #10b981;
  color: white;
}
